@using System.Text.Json
@using Introduccion_ASP.NET_Core_MVC.Models.ViewModel
@model DetailAnimalViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles del Animal</h2>
<form asp-action="ShowSaveAnimal" asp-controller="Animal" method="post" style="display: inline;">
    <!-- Serializar todo el objeto como JSON -->
    <input type="hidden" name="AnimalJson" value='@JsonSerializer.Serialize(Model.AnimalDetail)' />
    <button type="submit">Editar</button>
</form>

<p>ID: @Model.AnimalDetail.IdAnimal</p>
<p>Nombre: @Model.AnimalDetail.NombreAnimal</p>
<p>Raza: @Model.AnimalDetail.Raza</p>
<p>Tipo de Animal: @Model.AnimalDetail.TipoAnimal.TipoDescripcion</p>
<p>Fecha de Nacimiento: @Model.AnimalDetail.FechaNacimiento?.ToString("d")</p>

<a href="@Url.Action("Index", "Home")">Volver a la lista</a>