@using Introduccion_ASP.NET_Core_MVC.Models.ViewModel
@model AnimalesViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h1>Lista de Animales</h1>
    <ul>
        @{
            if (Model.ListAnimal == null || Model.ListAnimal.Count <= 0) { return; }

            foreach (var animal in Model.ListAnimal)
            {
                <li>
                    <span class="animal-id">ID: @(animal.IdAnimal) </span>@animal.NombreAnimal
                </li>

                <form asp-action="AnimalDetail" asp-controller="Animal" method="post" style="display: inline;">
                    <input type="hidden" name="id" value="@animal.IdAnimal" />
                    <button type="submit">Ver Detalles</button>
                </form>
            }
        }
    </ul>

    <h1>Lista de Tipos de Animales</h1>
    <ul>
        @{
            if (Model.ListTipoAnimal == null || Model.ListTipoAnimal.Count <= 0) { return; }

            foreach (var animalType in Model.ListTipoAnimal)
            {
                <li>
                    <span class="animal-id">ID: @(animalType.IdTipoAnimal) </span>@animalType.TipoDescripcion
                </li>

                <form asp-action="AnimalTypeDetail" asp-controller="Home" method="post" style="display: inline;">
                    <input type="hidden" name="id" value="@animalType.IdTipoAnimal" />
                    <button type="submit">Ver Detalles</button>
                </form>
            }
        }
    </ul>
</div>
